.log-cont{
    margin: 4rem 1rem;
min-height: 20rem;
    padding:  3rem 1.3rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 40rem;
    
}

.toast-message {
      /* width: 15rem; */
    font-size: 2rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  scale: 0.85;
}
